.ant-layout-has-sider{
    padding: 1px;
    height: 100vh;
    
}
.ant-layout-sider{
    border-radius: 10px;
   
}
.anticon svg{
    height: 20px;
    width: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
.ant-layout-content {
    overflow: auto;
}